.table-row-cell,
.table-row-cell:odd {
    -fx-background-color: #fafafa;
}

.table-row-cell:modified {
    -fx-background-color: #ffffff;
}
.table-row-cell:duplicated {
    -fx-background-color: #f00;
}